In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('countries-of-the-world.csv')

In [3]:
# Find which columns need to be dropped:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'Unnamed: 0.1.1.1',
       'Unnamed: 0.1.1.1.1', 'Unnamed: 0.1.1.1.1.1', 'Unnamed: 0.1.1.1.1.1.1',
       'Unnamed: 0.1.1.1.1.1.1.1', 'Unnamed: 0.1.1.1.1.1.1.1.1',
       'Unnamed: 0.1.1.1.1.1.1.1.1.1', 'Unnamed: 0.1.1.1.1.1.1.1.1.1.1',
       'Unnamed: 0.1.1.1.1.1.1.1.1.1.1.1', 'Country', 'Region', 'Population',
       'Area', 'Pop. Density', 'Infant mortality (per 1000 births)',
       'GDP ($ per capita)', 'Birthrate', 'Deathrate'],
      dtype='object')

In [4]:
# Make a drop-list for the columns
remove_list = [x for x in df.columns if "Unnamed" in x.split(":")]

In [5]:
df = df.drop(columns=remove_list)

In [6]:
rich_countries = df.loc[df["GDP ($ per capita)"] > 22100.0]

In [7]:
rich_countries

,Country,Region,Population,Area,Pop. Density,Infant mortality (per 1000 births),GDP ($ per capita),Birthrate,Deathrate
138,United Arab Emirates,NEAR EAST,2602713.0,82880,31.4,14.51,23200.0,18.96,4.40
163,Bermuda,NORTHERN AMERICA,65773.0,53,1241.0,8.53,36000.0,11.40,7.74
167,Cayman Islands,LATIN AMER. & CARIB,45436.0,262,173.4,8.19,35000.0,12.74,4.89
183,United States,NORTHERN AMERICA,298444215.0,9631420,31.0,6.50,37800.0,14.14,8.26
184,Taiwan,ASIA,23036087.0,35980,640.3,6.40,23400.0,12.56,6.48
187,Italy,WESTERN EUROPE,58133509.0,301230,193.0,5.94,26700.0,8.72,10.40
189,Aruba,LATIN AMER. & CARIB,71891.0,193,372.5,5.89,28000.0,11.03,6.68
191,San Marino,WESTERN EUROPE,29251.0,61,479.5,5.73,34600.0,10.02,8.17
193,Monaco,WESTERN EUROPE,32543.0,2,16271.5,5.43,27000.0,9.19,12.91
194,Ireland,WESTERN EUROPE,4062235.0,70280,57.8,5.39,29600.0,14.45,7.82
195,Jersey,WESTERN EUROPE,91084.0,116,785.2,5.24,24800.0,9.30,9.28
196,United Kingdom,WESTERN EUROPE,60609153.0,244820,247.6,5.16,27700.0,10.71,10.13
199,Netherlands,WESTERN EUROPE,16491461.0,41526,397.1,5.04,28600.0,10.90,8.68
200,Luxembourg,WESTERN EUROPE,474413.0,2586,183.5,4.81,55100.0,11.94,8.41
201,Canada,NORTHERN AMERICA,33098932.0,9984670,3.3,4.75,29800.0,10.78,7.80
203,Liechtenstein,WESTERN EUROPE,33987.0,160,212.4,4.70,25000.0,10.21,7.18
204,Australia,OCEANIA,20264082.0,7686850,2.6,4.69,29000.0,12.14,7.51
205,Belgium,WESTERN EUROPE,10379067.0,30528,340.0,4.68,29100.0,10.38,10.27
206,Austria,WESTERN EUROPE,8192880.0,83870,97.7,4.66,30000.0,8.74,9.76
207,Denmark,WESTERN EUROPE,5450661.0,43094,126.5,4.56,31100.0,11.13,10.36
211,Switzerland,WESTERN EUROPE,7523934.0,41290,182.2,4.39,32700.0,9.71,8.49
212,France,WESTERN EUROPE,60876136.0,547030,111.3,4.26,27600.0,11.99,9.14
213,Germany,WESTERN EUROPE,82422299.0,357021,230.9,4.16,27600.0,8.25,10.62
217,Norway,WESTERN EUROPE,4610820.0,323802,14.2,3.70,37800.0,11.46,9.40
218,Finland,WESTERN EUROPE,5231372.0,338145,15.5,3.57,27400.0,10.45,9.86
219,Iceland,WESTERN EUROPE,299388.0,103000,2.9,3.31,30900.0,13.64,6.72
220,Japan,ASIA,127463611.0,377835,337.4,3.26,28200.0,9.37,9.16
221,Hong Kong,ASIA,6940432.0,1092,6355.7,2.97,28800.0,7.29,6.29
222,Sweden,WESTERN EUROPE,9016596.0,449964,20.0,2.77,26800.0,10.27,10.31
223,Singapore,ASIA,4492150.0,693,6482.2,2.29,23700.0,9.34,4.28

In [8]:
most_rich_country = rich_countries.loc[rich_countries["GDP ($ per capita)"].idxmax(), "Country"]
most_rich_gdp = rich_countries["GDP ($ per capita)"].max()
print(f"The richest country is {most_rich_country} with a GDP of {most_rich_gdp}")

The richest country is Luxembourg with a GDP of 55100.0

$$\iiint \sin (4\phi)\cos \theta r^2$$

In [9]:
q = rich_countries.loc[rich_countries["Pop. Density"] > 337.4]
q

,Country,Region,Population,Area,Pop. Density,Infant mortality (per 1000 births),GDP ($ per capita),Birthrate,Deathrate
163,Bermuda,NORTHERN AMERICA,65773.0,53,1241.0,8.53,36000.0,11.40,7.74
184,Taiwan,ASIA,23036087.0,35980,640.3,6.40,23400.0,12.56,6.48
189,Aruba,LATIN AMER. & CARIB,71891.0,193,372.5,5.89,28000.0,11.03,6.68
191,San Marino,WESTERN EUROPE,29251.0,61,479.5,5.73,34600.0,10.02,8.17
193,Monaco,WESTERN EUROPE,32543.0,2,16271.5,5.43,27000.0,9.19,12.91
195,Jersey,WESTERN EUROPE,91084.0,116,785.2,5.24,24800.0,9.30,9.28
199,Netherlands,WESTERN EUROPE,16491461.0,41526,397.1,5.04,28600.0,10.90,8.68
205,Belgium,WESTERN EUROPE,10379067.0,30528,340.0,4.68,29100.0,10.38,10.27
221,Hong Kong,ASIA,6940432.0,1092,6355.7,2.97,28800.0,7.29,6.29
223,Singapore,ASIA,4492150.0,693,6482.2,2.29,23700.0,9.34,4.28

In [10]:
populated = df[(df['Population'] > 71891.0) & (df['Pop. Density'] > 786) & (df["Region"] == "ASIA")]

In [11]:
populated

,Country,Region,Population,Area,Pop. Density,Infant mortality (per 1000 births),GDP ($ per capita),Birthrate,Deathrate
48,Bangladesh,ASIA,147365352.0,144000,1023.4,62.60,1900.0,15.50,8.27
54,Maldives,ASIA,359008.0,300,1196.7,56.52,3900.0,34.81,7.06
210,Macau,ASIA,453125.0,28,16183.0,4.39,19400.0,8.48,4.47
221,Hong Kong,ASIA,6940432.0,1092,6355.7,2.97,28800.0,7.29,6.29
223,Singapore,ASIA,4492150.0,693,6482.2,2.29,23700.0,9.34,4.28

In [12]:
df.loc[df['Country']== 'Israel']

,Country,Region,Population,Area,Pop. Density,Infant mortality (per 1000 births),GDP ($ per capita),Birthrate,Deathrate
179,Israel,NEAR EAST,6352117.0,20770,305.8,7.03,19800.0,17.97,6.18

In [13]:
a = df.loc[df['Population'] / df['Area'] < 10]

In [14]:
df = df.set_index('Country')

In [15]:
df.loc['Israel']

Region                                  NEAR EAST
Population                            6.35212e+06
Area                                        20770
Pop. Density                                305.8
Infant mortality (per 1000 births)           7.03
GDP ($ per capita)                          19800
Birthrate                                   17.97
Deathrate                                    6.18
Name: Israel, dtype: object

In [24]:
# Get total population of the world
total_pop = df['Population'].sum()
total_pop

6480666915.0

In [25]:
# Get average birthrate by Region
Region_grouped = df.groupby(['Region'])['Birthrate'].median()
Region_grouped

Region
ASIA                   18.350
BALTICS                 9.240
C.W. OF IND. STATES    15.850
EASTERN EUROPE          9.720
LATIN AMER. & CARIB    18.020
NEAR EAST              21.595
NORTHERN AFRICA        21.980
NORTHERN AMERICA       13.520
OCEANIA                22.460
SUB-SAHARAN AFRICA     37.980
WESTERN EUROPE         10.325
Name: Birthrate, dtype: float64